<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @question.summary %>
</p>

<p>
  <strong>Author:</strong>
  <%= @question.author %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>

<ul>
<%= render partial: 'comments/comment', collection: @question.comments %>
</ul>
