<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @question.summary %>
</p>

<p>
  <strong>Submitted By:</strong>  <%= @question.author%>
  <small><%= time_ago_in_words(@question.created_at) %> ago</small>
</p>

<h3>Comments</h3>

  <%= form_for [@question, Comment.new] do |f| %>
  <%= f.text_area :content, placeholder: "Add a comment" %><br/>
  <%= f.submit "Add Comment" %>
<% end %>

<ul>
  <%= render @question.comments %>
</ul>